* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
  width: 960px;
  margin: 0 auto;
  font-size: 0;
}
header .logo,
.navigation {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  background-color: aqua;
  vertical-align: bottom;
}
div img,
span {
  padding: 23px 0 23px 0;
  vertical-align: middle;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-left: 35px;
}
nav a {
  color: #949494;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 23px 0 23px 0;
}
nav a:hover {
  border-bottom: 4px solid;
  border-bottom-color: #4e92f5;
}
.headleft span {
  font-size: 50px;
  vertical-align: middle;
}
.headleft img {
  vertical-align: middle;
}
.banner {
  background: url(../img/banner.png) no-repeat;
  background-size: 100% 100%;
  height: 490px;
  font-size: 0;
}
div.phone,
div.text {
  width: 50%;
  display: inline-block;
  font-size: 10px;
}

div.phone img {
  display: block;
  margin-right: 30px;
  margin-left: auto;
  padding-top: 42px;
}
div.text {
  position: absolute;
  top: 20%;
}
.bigtext,
.smalltext {
  color: white;
}
span.bigtext {
  font-size: 30px;
}
span.smalltext {
  font-size: 20px;
}
div.icon {
  width: 1250px;
  margin: 0 auto;
  display: table;
}
div.pen,
div.comp,
div.basket {
  padding: 10px;
  display: table-cell;
  text-align: center;
}
div.icon h3 {
  color: blue;
}
div.Shopping {
  width: 1250px;
  margin: 0 auto;
  font-size: 0;
}
div.Shopping div.bluebasket,
div.Bullet {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}
div.bluebasket {
  text-align: center;
}
div.Bullet {
  text-align: left;
  vertical-align: bottom;
  color: #949494;
  line-height: 2;
}
div.Bullet p {
  width: 450px;
  height: 240px;
}
footer div.footer {
  width: 1250px;
  height: 94px;
  margin: 0 auto;
  text-align: center;
}
footer h5 {
  color: #949494;
}
