* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.header {
  font-size: 0;
}
.logo,
.navigation {
  width: 50%;
  display: inline-block;
  font-size: 16px;
}

.logo img {
  width: 44px;
  height: 44px;
  margin-top: 24px;
  margin-bottom: 22px;
}
.logo span {
  font-size: 30px;
}
.logo img,
span {
  vertical-align: middle;
}
ul li {
  display: inline;
  font-size: 16px;
}
.link {
  margin-left: 32px;
  text-decoration: none;
  color: #949494;
  padding-bottom: 35px;
  padding-top: 35px;
}
:hover .link {
  text-decoration: none;
  border-bottom: solid 3px #4e92f5;
}
.banner {
  background: url(..//img/banner.png) no-repeat center;
  font-size: 0;
  height: 490px;
  padding-top: 36px;
  padding-bottom: 38px;
}
.phone,
.textbanner {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  vertical-align: top;
}
.phone {
  width: 345px;
  height: 416px;
  margin-right: 103px;
}
.textbanner h2,
p {
  color: #fffdff;
}
h2 {
  margin-top: 115px;
}
.button {
  margin-left: 15px;
}
.smalltext {
  line-height: 1.5;
  margin-right: 230px;
}
.icon {
  display: table;
  padding-top: 58px;
}
div.icon img {
  width: 186px;
  height: 186px;
}
.basket,
.monitor,
.pen {
  display: table-cell;
  text-align: center;
}
.icon p {
  color: #949494;
}
.icon h3 {
  color: #5393f7;
}
.shopping {
  font-size: 0;
  padding-top: 90px;
}
.bluebasket,
.bullet {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.bluebasket img {
  width: 371px;
  height: 279px;
}
.bluebasket h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 43px;
  color: #929395;
  padding-bottom: 33px;
}
.bullet p {
  color: #949494;
  line-height: 2.5;
}
.bullet h3 {
  margin-top: 57px;
  color: #797979;
}

.footer {
  text-align: center;
}
footer h5 {
  color: #949494;
}
